* {
    margin: 0;
    padding: 0;
}
.image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
}
.container ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    padding: 20px 40px;
}
.container ul li a{
    text-decoration: none;
    color: aliceblue;
    text-align: right;
}
.container ul li a:hover{
    background-color: rgb(247, 58, 58);
}
.container .class{
    color: aliceblue;
    font-size: 30px;
    padding: 20px 50px;
}
.container ul li{
    height: 25px;
    text-align: center;
    padding-top: 25px;

}
.container ul li:hover{
    background-color: rgb(224, 35, 35);
}
.template{
    display: flex;
    align-items: center;
   justify-content: space-between;
   width: 100%;
}
.template .name{
    color: aliceblue;
    font-size: 20px;
    width: 60%;
    padding: 30px 40px;
}
.template img{
    display: flex;
    padding: 100px 100px;
    border-radius: 4px;
    width: 50%;
}
.template h4{
    font-size: 20px;
}
.template a:hover{
    scale: 1.0s;
    box-shadow: 3px 3px 4px  rgb(221, 190, 172);
}
.template .name  a{
    font-size: 30px;
}
.template .mar a {
    border: 1px solid  rgb(189, 114, 16) ;
    padding: 5px 12px;
    background-color: rgb(226, 136, 18);
    border-radius: 4px;
    color: rgb(243, 240, 247);
}
.template .mar a:hover{
    scale: 1.0s;
    box-shadow: 3px 3px 4px  rgb(221, 190, 172);
}